.contenido {
  .fondo {
    position: fixed;
    top: -1.2rem;
    left: -1.2rem;
    width: calc(100% + 1.2rem);
    height: calc(100vh + 1.2rem);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .descripcion {
      position: fixed;
      width: 100%;
      bottom: 1rem;
      margin-left: 0;
      .descripcion-fondo {
        //border-color: rgba(#dedede, 0.5);
        //background-color: rgba(255, 255, 255, 0.75);
      }
    }
    @media screen and (max-width: 778px) {
      .descripcion {
        display: none;
      }
    }
  }
  .intro {
    //border-color: rgba(#dedede, 0.85);
    //background-color: rgba(255, 255, 255, 0.95);
    .card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        height: 1.8rem;
        width: 1.8rem;
        margin-right: 1em;
      }
    }
  }
}
.loading {
  width: 100%;
  padding: 1.2rem;
}
